.traffic {
    width: 150px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active-light {
    outline: none;
    border-color: #ffdd19;
    box-shadow: 0 0 10px #eed80f;
}
